.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.egg-info/
.env
*.pt
logs/
models/
outputs/
uploads/
runs/
models/*.pt
models/*.onnx
models/*.engine
.DS_Store
.idea/
.vscode/
frontend/node_modules/
frontend/build/
